*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    width:100%;
    height:100%;
    position: relative;
    letter-spacing: 2px;
    font-family: consolas;
}

body #home-main header{
    position:absolute;
    top:0;
    width:100%;
    height:60%;
    background: url(./imgs/indexBG.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transition: 1s;
}

body #home-main #navigation-section{
    position:absolute;
    top:65%;
    width:100%;
    height:6%;
    background-color: #1a1a1a;
    color: white;
    font-size: 1vw;
    transition: 1s;
}

body #home-main #navigation-section h2{
    position: absolute;
    line-height: 2em;
    cursor: pointer;
}


body #home-main #navigation-section #home-h2{
    left:50%;
}

body #home-main #navigation-section #garage-h2{
    left:10%;
}

body #home-main #navigation-section #about-h2{
    right:10%;
}

body #home-main #navigation-section #unknown-h2{
    right:28%;
}

body #home-main #navigation-section #schedule-h2{
    left:28%;
}

body #home-main .fade-div{
    position: absolute;
    width:100%;
    height:6%;
    transition: 1s;
}

body #home-main #fade-div-1{
    top:70%;
    background-color:#262626;
}

body #home-main #fade-div-2{
    top:76%;
    background-color:#333333;
}

body #home-main #fade-div-3{
    top:82%;
    background-color:#404040;
}

body #home-main #fade-div-4{
    top:88%;
    background-color:#4d4d4d;
}

body #home-main #fade-div-5{
    top:94%;
    background-color:#595959;
}

body #garage-main{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    visibility:hidden;
}

body #garage-main #left-section-main{
    position:absolute;
    top:6%;
    left:-25%;
    width:25%;
    height:94%;
    background: #2A2B2DFF;
    opacity: 0;
    transition: 1s;
    overflow: auto;
}

body #garage-main #left-section-main::-webkit-scrollbar {
    display: none;
}

body #garage-main #left-section-main #bars-div{
   position:absolute;
   top:1%;
   left:4%;
   width:10%;
   height:5%;
   cursor:pointer;
} 

body #garage-main #left-section-main #bars-body-div{
    position:absolute;
    top:6%;
    left:10%;
    width:80%;
    height:15%;
    border: 5px solid #d9514eff;
    background: #2a2b2d;
    cursor:pointer;
    z-index: 1;
    display: none;
} 

body #garage-main #left-section-main #bars-body-div label:nth-child(1){
    position: absolute;
    top:0;
    width:100%;
    height:33.3%;
    font-size: 1.5vw;
    line-height: 1.5em;
    color:white;
    border-bottom: 1px solid #e99796;
    opacity: 0.4;
    cursor: pointer;
}

body #garage-main #left-section-main #bars-body-div label:nth-child(2){
    position: absolute;
    top:33.3%;
    width:100%;
    height:33.3%;
    font-size: 1.5vw;
    line-height: 1.5em;
    color:white;
    border-bottom: 1px solid #e99796;
    opacity: 0.4;
    cursor: pointer;
}

body #garage-main #left-section-main #bars-body-div label:nth-child(3){
    position: absolute;
    top:66.6%;
    width:100%;
    height:33.3%;
    font-size: 1.5vw;
    line-height: 1.5em;
    color:white;
    border-bottom: 1px solid #e99796;
    opacity: 0.4;
    cursor: pointer;
}

body #garage-main #left-section-main #border-lining{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:200%;
    border:10px solid #2DA8D8FF;
}

body #garage-main #middle-section-main{
    position:absolute;
    top:6%;
    left:-45%;
    width:5%;
    height:94%;
    opacity: 0;
    transition: 1s;
}

body #garage-main #middle-section-main #border-lining-b{
    position: absolute;
    left:0;
    width:20%;
    height:100%;
    border-right:15px solid #3dafdb;
}

body #garage-main #middle-section-main #border-lining-c{
    position: absolute;
    left:20%;
    width:20%;
    height:100%;
    border-right:15px solid #53b7df;
}

body #garage-main #middle-section-main #border-lining-d{
    position: absolute;
    left:40%;
    width:20%;
    height:100%;
    border-right:15px solid #68c0e3;
}

body #garage-main #middle-section-main #border-lining-e{
    position: absolute;
    left:60%;
    width:20%;
    height:100%;
    border-right:15px solid  #7ec9e7;
}

body #garage-main #middle-section-main #border-lining-f{
    position: absolute;
    left:80%;
    width:20%;
    height:100%;
    border-right:15px solid  #93d2eb;
}

/*******************************************CARD OF THE VEHICLE SECTION****************************/

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn{
    position: fixed;
    bottom:1%;
    left:0;
    padding: 10px 30px;
    width:25%;
    color: rgba(255, 255, 255, 0.4);
    background: #2a2b2d;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1vw;
    transition: 0.5s;
    text-decoration: none;
    border-left:10px solid #2DA8D8FF;
    border-right:10px solid #2DA8D8FF;
    display: none;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn:hover{
    color: rgba(255, 255, 255, 1);
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn span{
    display: block;
    position:absolute;
    background: #2894ff;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn span:nth-child(1){
    left:0;
    bottom:0;
    width:1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn span:nth-child(2){
    left:0;
    bottom:0;
    width:100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn span:nth-child(3){
    right:0;
    bottom:0;
    width:1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn span:nth-child(4){
    left:0;
    top:0;
    width:100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #occupy-space-btn:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #card-vehicle{
    position: absolute;
    top:5%;
    left:18%;
    width:65%;
    height:5%;
    border-bottom:1px solid white;
    text-align: center;
    color:#fff;
    line-height: 2em;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div{
    position: absolute;
    top:12%;
    left:10%;
    width:80%;
    height:45%;
    color: white;
    /* border-bottom:1px solid white; */
    opacity: 0.3;
    pointer-events: none;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #logic-info-lbl{
    position: absolute;
    top:2%;
    left:10%;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #car-model{
    position: absolute;
    top:13%;
    left:22%;
    font-size: 1.2vw;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #car-model-img{
    position: absolute;
    top:6%;
    left:60%;
    width:13%;
    height:20%;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #car-model-input{
    position: absolute;
    top:22%;
    left:9%;
    width:80%;
    height:9%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #car-type{
    position: absolute;
    top:36%;
    left:23%;
    font-size: 1.2vw;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #car-type-img{
    position: absolute;
    top:29%;
    left:58%;
    width:13%;
    height:20%;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #car-type-input{
    position: absolute;
    top:45%;
    left:9%;
    width:80%;
    height:9%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

/*  */
body #garage-main #left-section-main #card-vehicle-section #logic-info-div #owner-name{
    position: absolute;
    top:59%;
    left:15%;
    font-size: 1.2vw;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #owner-name-img{
    position: absolute;
    top:58%;
    left:65%;
    width:13%;
    height:10%;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #owner-name-input{
    position: absolute;
    top:69%;
    left:9%;
    width:80%;
    height:9%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

/*  */
body #garage-main #left-section-main #card-vehicle-section #logic-info-div #owner-address{
    position: absolute;
    top:82%;
    left:15%;
    font-size: 1.2vw;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #owner-address-img{
    position: absolute;
    top:80%;
    left:75%;
    width:13%;
    height:8%;
}

body #garage-main #left-section-main #card-vehicle-section #logic-info-div #owner-address-input{
    position: absolute;
    top:90%;
    left:9%;
    width:80%;
    height:9%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #garage-main #left-section-main #card-vehicle-section #km-run-div{
    position: absolute;
    top:60%;
    left:10%;
    width:80%;
    height:15%;
    color: white;
    border-top:5px solid #186381;
    opacity: 0.3;
    pointer-events: none;
}

body #garage-main #left-section-main #card-vehicle-section #km-run-div label{
    position: absolute;
    top:15%;
    left:10%;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #card-vehicle-section #km-run-div img{
    position: absolute;
    top:15%;
    left:73%;
    width:20%;
    height:25%;
}

body #garage-main #left-section-main #card-vehicle-section #km-run-div input{
    position: absolute;
    top:50%;
    left:15%;
    width:65%;
    height:35%;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #card-vehicle-section #km-run-div input:focus{
    outline: none;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div{
    position: absolute;
    top:76%;
    left:10%;
    width:80%;
    height:60%;
    color: white;
    border-top:5px solid #186381;
    opacity: 0.3;
    pointer-events: none;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #spare-parts-lbl{
    position: absolute;
    top:5%;
    left:25%;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #battery-lbl{
    position: absolute;
    top:15%;
    left:30%;
    font-size: 1.2vw;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #battery-img{
    position: absolute;
    top:13%;
    left:58%;
    width:10%;
    height:8%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #battery-replace-btn{
    position: absolute;
    top:22%;
    left:15%;
    width:30%;
    height:6%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #battery-good-btn{
    position: absolute;
    top:22%;
    right:15%;
    width:30%;
    height:6%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #battery-replace-btn,
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #battery-good-btn{
    border-radius:5px;
    color:#2A2b2dff;
    cursor: pointer;
    font-size: 1vw;
    background-color:white;
    border:none;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #battery-replace-btn:focus,
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #battery-good-btn:focus{
    outline: none;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #brakes-lbl{
    position: absolute;
    top:33%;
    left:32%;
    font-size: 1.2vw;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #brake-img{
    position: absolute;
    top:33%;
    left:56%;
    width:10%;
    height:5%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #brake-replace-btn{
    position: absolute;
    top:40%;
    left:15%;
    width:30%;
    height:6%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #brake-good-btn{
    position: absolute;
    top:40%;
    right:15%;
    width:30%;
    height:6%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #brake-replace-btn,
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #brake-good-btn{
    border-radius:5px;
    color:#2A2b2dff;
    cursor: pointer;
    font-size: 1vw;
    background-color:white;
    border:none;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #brake-replace-btn:focus,
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #brake-good-btn:focus{
    outline: none;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #light-lbl{
    position: absolute;
    top:50%;
    left:20%;
    font-size: 1.2vw;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #light-img{
    position: absolute;
    top:50%;
    left:60%;
    width:10%;
    height:5%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #light-replace-btn{
    position: absolute;
    top:56%;
    left:15%;
    width:30%;
    height:6%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #light-good-btn{
    position: absolute;
    top:56%;
    right:15%;
    width:30%;
    height:6%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #light-replace-btn,
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #light-good-btn{
    border-radius:5px;
    color:#2A2b2dff;
    cursor: pointer;
    font-size: 1vw;
    background-color:white;
    border:none;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #light-replace-btn:focus,
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #light-good-btn:focus{
    outline: none;
}

/*  */
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #windshield-lbl{
    position: absolute;
    top:68%;
    left:20%;
    font-size: 1.2vw;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #windshield-img{
    position: absolute;
    top:68%;
    left:64%;
    width:10%;
    height:5%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #windshield-replace-btn{
    position: absolute;
    top:74%;
    left:15%;
    width:30%;
    height:6%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #windshield-good-btn{
    position: absolute;
    top:74%;
    right:15%;
    width:30%;
    height:6%;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #windshield-replace-btn,
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #windshield-good-btn{
    border-radius:5px;
    color:#2A2b2dff;
    cursor: pointer;
    font-size: 1vw;
    background-color:white;
    border:none;
}

body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #windshield-replace-btn:focus,
body #garage-main #left-section-main #card-vehicle-section #spare-parts-div #windshield-good-btn:focus{
    outline: none;
}

body #garage-main #left-section-main #card-vehicle-section #car-acts-div{
    position: absolute;
    top:75%;
    left:10%;
    width:80%;
    height:20%;
    color: white;
    border:1px solid white;
    opacity: 0.3;
    pointer-events: none;
}

body #garage-main #left-section-main #card-vehicle-section #finalize-cancel-div{
    position:fixed;
    bottom:0;
    left:0;
    width: 25%;
    height:7%;
    border-left:10px solid #2DA8D8FF;
    border-right:10px solid #2DA8D8FF;
    background: #2a2b2d;
    display:none;
}

body #garage-main #left-section-main #card-vehicle-section #finalize-cancel-div #done-btn{
    position:absolute;
    top:15%;
    left:10%;
    width:35%;
    height:70%;
    cursor: pointer;
    color: #737373;
    background: transparent;
    border:1px solid #006600;
    border-radius: 5px;
    transition: 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #finalize-cancel-div #done-btn:focus{
    outline: none;
}

body #garage-main #left-section-main #card-vehicle-section #finalize-cancel-div #done-btn:hover{
    color:#fff;
    border:1px solid #00cc00;
}

body #garage-main #left-section-main #card-vehicle-section #finalize-cancel-div #cancel-btn{
    position:absolute;
    top:15%;
    right:10%;
    width:35%;
    height:70%;
    cursor: pointer;
    color: #737373;
    background: transparent;
    border:1px solid #660000;
    border-radius: 5px;
    transition: 0.5s;
}

body #garage-main #left-section-main #card-vehicle-section #finalize-cancel-div #cancel-btn:focus{
    outline: none;
}

body #garage-main #left-section-main #card-vehicle-section #finalize-cancel-div #cancel-btn:hover{
    color:#fff;
    border:1px solid #cc0000;
}

body #garage-main #left-section-main #card-vehicle-section #edit-info-btn{
    position:fixed;
    bottom:0;
    left:0;
    width:25%;
    height:5%;
    cursor: pointer;
    color: #737373;
    border-left:10px solid #2DA8D8FF;
    border-right:10px solid #2DA8D8FF;
    border-top: none;
    border-bottom: none;
    background: #2a2b2d;
    transition: 0.5s;
    outline: none;
    display: none;
}

body #garage-main #left-section-main #card-vehicle-section #edit-info-btn:hover{
    color:#fff;
    border-top:1px solid #2DA8D8FF;
    border-bottom:1px solid #2DA8D8FF;
}

/*******************************************SERVICE ORDER CARD SECTION****************************/
/* body #garage-main #left-section-main #card-vehicle-section{
    display: none;
} */
body #garage-main #left-section-main #service-card-section{
    display: none;
}
body #garage-main #left-section-main #service-card-section #service-card{
    position: absolute;
    top:5%;
    left:18%;
    width:65%;
    height:5%;
    border-bottom:1px solid white;
    text-align: center;
    color:#fff;
    line-height: 2em;
}

body #garage-main #left-section-main #service-card-section #service-time-div{
    position: absolute;
    top:12%;
    left:10%;
    width:80%;
    height:15%;
    color: white;
    opacity: 0.3;
    pointer-events: none;
}

body #garage-main #left-section-main #service-card-section #service-time-div #service-time-lbl{
    position: absolute;
    top:10%;
    left:12%;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #service-card-section #service-time-div #service-time-input{
    position: absolute;
    top: 45%;
    left:9%;
    width:80%;
    height:35%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #garage-main #left-section-main #service-card-section #date-leave-div{
    position: absolute;
    top:30%;
    left:10%;
    width:80%;
    height:15%;
    color: white;
    border-top:5px solid #186381;
    opacity: 0.3;
    pointer-events: none;
}

body #garage-main #left-section-main #service-card-section #date-leave-div #date-leave-lbl{
    position: absolute;
    top:10%;
    left:12%;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #service-card-section #date-leave-div #date-leave-input{
    position: absolute;
    top: 45%;
    left:9%;
    width:80%;
    height:35%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #garage-main #left-section-main #service-card-section #scheduled-acts-div{
    position: absolute;
    top:48%;
    left:10%;
    width:80%;
    height:35%;
    color: white;
    border-top:5px solid #186381;
    opacity: 0.3;
    pointer-events: none;
}

body #garage-main #left-section-main #service-card-section #scheduled-acts-div #scheduled-acts-lbl-1{
    position: absolute;
    top:10%;
    left:12%;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #service-card-section #scheduled-acts-div #scheduled-acts-input-1{
    position: absolute;
    top: 21%;
    left:9%;
    width:80%;
    height:13%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #garage-main #left-section-main #service-card-section #scheduled-acts-div #scheduled-acts-lbl-2{
    position: absolute;
    top:40%;
    left:12%;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #service-card-section #scheduled-acts-div #scheduled-acts-input-2{
    position: absolute;
    top: 50%;
    left:9%;
    width:80%;
    height:15%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #garage-main #left-section-main #service-card-section #scheduled-acts-div #scheduled-acts-lbl-3{
    position: absolute;
    top:68%;
    left:12%;
    font-size: 1.5vw;
}

body #garage-main #left-section-main #service-card-section #scheduled-acts-div #scheduled-acts-input-3{
    position: absolute;
    top: 80%;
    left:9%;
    width:80%;
    height:15%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #garage-main #right-section-main{
    position:absolute;
    top:6%;
    right:-25%;
    width:70%;
    height:94%;
    background: #a9dbef;
    opacity: 0;
    transition: 1s;
    overflow: auto;
}

body #garage-main #right-section-main .garage-spaces{
    width:20%;
    height:15%;
    border:1px solid #2A2B2DFF;
    float:left;
    margin-top:2%;
    margin-left:4.3%;
    margin-bottom: 2%;
    border-radius: 5%;
    cursor: pointer;
    text-align:center;
    font-size:2vw;
    line-height: 25vh;
    background-color:white;
    background: url(./imgs/free.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    opacity: 0.3;
    color: #808080;
}

/*********************************************SCHEDULE***********************************/
body #schedule-main{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    visibility:hidden;
}

body #schedule-main #schedule-body{
    position:absolute;
    top:6%;
    left:0;
    left:-100%;
    width:100%;
    height:94%;
    background-color: #e99796;
    opacity: 0;
    transition: 1s;
    overflow: auto;
}

body #schedule-main #schedule-body #border-fade{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:15%;
}

body #schedule-main #schedule-body #border-fade #border-fade-1{
    width: 100%;
    height:25%;
    background:#d9514eff;
}

body #schedule-main #schedule-body #border-fade #border-fade-2{
    width: 100%;
    height:25%;
    background:#db5957;
}

body #schedule-main #schedule-body #border-fade #border-fade-3{
    width: 100%;
    height:25%;
    background:#e06e6c;
}

body #schedule-main #schedule-body #border-fade #border-fade-4{
    width: 100%;
    height:25%;
    background:#e48281;
}

body #schedule-main #schedule-body #add-new-sched{
    position: absolute;
    top: 35%;
    left:5%;
    width:15%;
    height:30%;
    border: 8px solid #2DA8D8FF;
    background-color: #595959;
    border-radius: 5px;
    transition: 0.5s;
}

body #schedule-main #schedule-body #add-new-sched #add-new-sched-lbl{
    position: absolute;
    top:40%;
    left:20%;
    font-weight: bold;
    color:#fff;
    font-size: 2vw;
    opacity: 0.3;
}

body #schedule-main #schedule-body #add-new-sched #add-new-sched-img{
    position: absolute;
    top:15%;
    left:22%;
    width:65%;
    height: 75%;
    opacity: 0.3;
    cursor: pointer;
}

/*  */

body #schedule-main #schedule-body #add-new-sched #logic-info-div{
    position: absolute;
    top:1%;
    left:5%;
    width:90%;
    height:90%;
    color: white;
    opacity: 0.5;
    display: none;
}

body #schedule-main #schedule-body #add-new-sched button{
    position: absolute;
    bottom:1%;
    left:35%;
    width:30%;
    height:8%;
    display: none;
    background: transparent;
    color:#737373;
    outline: none;
    border:1px solid #737373;
    transition:0.5s;
    cursor: pointer;
}

body #schedule-main #schedule-body #add-new-sched button:hover{
    color:#fff;
    border:1px solid #fff;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #logic-info-lbl{
    position: absolute;
    top:2%;
    left:10%;
    font-size: 1.5vw;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #car-model{
    position: absolute;
    top:13%;
    left:22%;
    font-size: 1.2vw;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #car-model-img{
    position: absolute;
    top:6%;
    left:60%;
    width:13%;
    height:20%;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #car-model-input{
    position: absolute;
    top:22%;
    left:9%;
    width:80%;
    height:9%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #car-type{
    position: absolute;
    top:36%;
    left:23%;
    font-size: 1.2vw;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #car-type-img{
    position: absolute;
    top:29%;
    left:58%;
    width:13%;
    height:20%;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #car-type-input{
    position: absolute;
    top:45%;
    left:9%;
    width:80%;
    height:9%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

/*  */
body #schedule-main #schedule-body #add-new-sched #logic-info-div #owner-name{
    position: absolute;
    top:59%;
    left:15%;
    font-size: 1.2vw;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #owner-name-img{
    position: absolute;
    top:58%;
    left:65%;
    width:13%;
    height:10%;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #owner-name-input{
    position: absolute;
    top:69%;
    left:9%;
    width:80%;
    height:9%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

/*  */
body #schedule-main #schedule-body #add-new-sched #logic-info-div #owner-address{
    position: absolute;
    top:82%;
    left:15%;
    font-size: 1.2vw;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #owner-address-img{
    position: absolute;
    top:80%;
    left:75%;
    width:13%;
    height:8%;
}

body #schedule-main #schedule-body #add-new-sched #logic-info-div #owner-address-input{
    position: absolute;
    top:90%;
    left:9%;
    width:80%;
    height:9%;
    text-decoration: none;
    border-bottom: 1px solid white;
    background: transparent;
    color:#a6a6a6;
    text-align: center;
    font-size: 1.5vw;
    outline:none;
}

body #schedule-main #schedule-body #current-day-div{
    position: absolute;
    top:25%;
    left:38%;
    width:25%;
    height:50%;
    border:8px solid #1a1a1a;
    transition: 1s;
    border-radius: 10px;
    background-color: #595959;
}

body #schedule-main #schedule-body #current-day-div-1{
    position: absolute;
    top:40%;
    left:65%;
    width:10%;
    height:20%;
    border:8px solid #1a1a1a;
    transition: 1s;
    border-radius: 10px;
    background-color: #595959;
}

body #schedule-main #schedule-body #current-day-div-2{
    position: absolute;
    top:40%;
    left:78%;
    width:10%;
    height:20%;
    border:8px solid #1a1a1a;
    transition: 1s;
    border-radius: 10px;
    background-color: #595959;
}

body #schedule-main #schedule-body .arrow-left {
    position: absolute;
    top:40%;
    left:30%;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 
    
    border-right:60px solid #737373; 
    cursor: pointer;
    opacity: 0.1;
    transition: 0.5s;
}

body #schedule-main #schedule-body .arrow-left:hover{
    opacity: 1;
}